#stage{
  background-color: #999999;
    border: 3px solid #EEEEEE;
    color: #EEEEEE;
    display: none;
    font-weight: bold;
    height: 250px;
}

span.pres_pic{
  float:left;
  margin-right: 10px;
}

span.pres_bio{
  padding-top: 34px;
}

#stage address {
  margin-top: 20%;
  text-align: center;
}