---
layout: default
title: "Help us, help you help us"
---

<div class="row-fluid">
  {% include bird_box.html %}

  <div class="span6">
    <h1>* See Our Registry on <a href="http://www.amazon.com/gp/registry/wedding/3U9WDF7HB4WOW" target="_new">Amazon.com</a></h1>
    <h1>* <a id="show_mailing_address" href="#">Mail a Gift</a></h1>
    <h1>* Ca$h Money</h1>
    <p>
      {% include paypal_form.html %}
    </p>
  </div>
</div>

<div class="row-fluid" style="clear:none;margin-top:-100px;" >
  <div class="span6" id="stage">
    <address id="mailing_address" style="display:none" class="stage_item"></address>
    <span style="display:none" class="stage_item" id="Alexander Hamilton">
      
      <span class="pres_pic">
        <img src="img/hamilton.jpg"></img>
      </span>

      <span class="pres_bio">
        <p>Hamilton is from the latin <em>Ham-e-ton</em>, or "A ton of Ham."</p>
        
        <p>
          Alexander Hamilton died in Weehawken, New Jersey - which
          some say is better than <em>living </em> in Weehawken, New Jersey
        </p>
      </span>

    </span>

  	<span style="display:none" class="stage_item" id="Andrew Jackson">
  	  <span class="pres_pic">
        <img src="img/jackson.jpg"></img>
      </span>

  	  <span class="pres_bio">
        <p>Andrew Jackson's pet parrot had to be removed from his funeral because it wouldn't stop swearing.</p>
        <p>Jackson was given a 1,400 pound cheese wheel, wrapped in a giant belt that bore patriotic inscriptions like, "The Union, it must be Preserved."</p>
        <p>Well, cheese <em>is</em> binding.</p>
      </span>

  	</span>

  	<span style="display:none" class="stage_item" id="Ulysses Grant">
  	  <span class="pres_pic">
        <img src="img/grant.png"></img>
      </span>

  	  <span class="pres_bio">
        <p>
          "I know only two tunes: one of them is 'Yankee Doodle,' and the other isn't."<br/>
          -- Ulysses Grant
        </p>
        
        <p>
          Grant brought a Newfoundland dog named "Faithful" to the White House.
          He is the first president to establish a 'no scooting in the blue room' rule which wasn't done away with until the presidency of George W. Bush.
        </p>
        
      </span>
  	</span>

  	<span style="display:none" class="stage_item" id="Ben Franklin">
  	  <span class="pres_pic">
        <img src="img/franklin.jpg"></img>
      </span>
  	  <span class="pres_bio">
  	    <p>
  	      "He that is conscious of A Stink in his Breeches, is jealous of every Wrinkle in another's nose"<br/>
          -- Poor Richard's Almanack, 1751
        </p>
        <p>
          Franklin suggested that the turkey be the national bird, not the bald eagle.
          In a 1784 letter to his daughter, Sally, he said, "For my own part I wish the Bald Eagle had not been chosen as the Representative of our Country.
          He is a Bird of bad moral Character...in Truth the Turkey is in Comparison a much more respectable Bird, and withal a true original Native of America."
        </p>
      </span>
  	</span>

  	<span style="display:none" class="stage_item" id="William McKinley">
  	  <span class="pres_pic">
        <img src="img/mckinley.gif"></img>
      </span>
  	  <span class="pres_bio">
        <p>
          <em>Mount McKinley?</em> I didn't even vote for him!
        </p>
        <p>
          Stout, dignified bearing and beak nose, <br>
          he wore a red carnation in his buttonhole at all times.<br/>
          McKinley had a parrot named "Washington Post" who could whistle to the tune of Yankee Doodle.
        </p>
      </span>
  	</span>
  </div>
</div>