---
layout: default
title: "Help us, help you help us"
---

<div class="row-fluid">
  {% include bird_box.html %}

  <div class="span6">
    <h1>* See Our Registry on <a href="http://www.amazon.com/gp/registry/wedding/3U9WDF7HB4WOW" target="_new">Amazon.com</a></h1>
    <h1>* <a id="show_mailing_address" href="#">Mail a Gift</a></h1>
    <h1>* Ca$h Money</h1>
    <p>
      {% include paypal_form.html %}
    </p>
  </div>
</div>

<div class="row-fluid" style="clear:none;margin-top:-100px;" >
  <div class="span6" id="stage">
    <address id="mailing_address" style="display:none" class="stage_item"></address>
    <span style="display:none" class="stage_item" id="Alexander Hamilton">
      
      <span class="pres_pic">
        <img src="img/hamilton.jpg"></img>
      </span>

      <span class="pres_bio">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </span>

    </span>

  	<span style="display:none" class="stage_item" id="Andrew Jackson">
  	  <span class="pres_pic">
        <img src="img/jackson.jpg"></img>
      </span>

  	  <span class="pres_bio">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </span>

  	</span>

  	<span style="display:none" class="stage_item" id="Ulysses Grant">
  	  <span class="pres_pic">
        <img src="img/grant.png"></img>
      </span>

  	  <span class="pres_bio">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </span>
  	</span>

  	<span style="display:none" class="stage_item" id="Ben Franklin">
  	  <span class="pres_pic">
        <img src="img/franklin.jpg"></img>
      </span>
  	  <span class="pres_bio">
  	    <p>
  	      "He that is conscious of A Stink in his Breeches, is jealous of every Wrinkle in another's nose"<br/>
          -- Poor Richard's Almanack, 1751
        </p>
        <p>
          Franklin suggested that the turkey be the national bird, not the bald eagle.
          In a 1784 letter to his daughter, Sally, he said, "For my own part I wish the Bald Eagle had not been chosen as the Representative of our Country.
          He is a Bird of bad moral Character...in Truth the Turkey is in Comparison a much more respectable Bird, and withal a true original Native of America."
        </p>
      </span>
  	</span>

  	<span style="display:none" class="stage_item" id="William McKinley">
  	  <span class="pres_pic">
        <img src="img/mckinley.jpg"></img>
      </span>
  	  <span class="pres_bio">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </span>
  	</span>
  </div>
</div>