<div class="navbar">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="nav-collapse">
        <ul class="nav">
          <li style="font-size: 24px">
            <a href="/index.html">Stephen &amp; Mona</a>
          </li>
          <li class="{% if page.url == '/registry.html'%}active{%endif%}">
            <a href="/registry.html">Registry</a>
          </li>

          <li class="{% if page.url == '/itinerary.html'%}active{%endif%}">
            <a href="/itinerary.html">Itinerary</a>
          </li>

          <li class="{% if page.url == '/music.html'%}active{%endif%}">
            <a href="/music.html">Music</a>
          </li>

        </ul>
      </div>
    </div>
  </div>

</div>
